$bg-0: #e8e8e8;
$bg-1: #f6f7f8;
$bg-2: #ffffff;
$orange: #ff9400;
$btn-bg: $orange;
$icon-color: #b0beca;
$active-color: #6200ff;
$active-bg: #e9e0fa;
$titles-color: #2a272f;
$text-color: #333;
$spacer: 20px;
$red: #e74c3c;
$error-color: #e74c3c;
$success-color: #27ae60;
$yellow: #fff896;
$purple: #f9bcba;
$blue: #6200ff;
$white: #ffffff;
$grey: #99a6ad;