$bg-0: #e8e8e8;
$bg-1: #e6ebfa;
$bg-2: #e2e7f8;
$bg-3: #f1f4fb;
$sep-color: #dddeee;

$orange: #ff9400;
$blue: #315ae7;
$btn-bg: $blue;
$icon-color: #6e7191;
$active-color: #315ae7;
$active-bg: #ffffff;
$titles-color: #2a272f;
$text-color: #212121;
$spacer: 20px;
$red: #e74c3c;
$error-color: #e74c3c;
$success-color: #27ae60;
$yellow: #fff896;
$purple: #f9bcba;
$white: #ffffff;
$grey: #99a6ad;