$grey: #f6f7f8;
$dark_grey: #b2bec3;
$orange: #ff9400;
$white: #fff;
$black: #333333;
$red: #e74c3c;
$darkGrey: #99a6ad;
$element-bg: $grey;
$element-active-bg: $orange;
$element-active-color: $white;
$text-color: $black;
$spacer: 20px;
