@import "variables";
.notifications {
  margin-bottom: 0 !important;
  margin-top: $spacer;
  justify-content: space-between !important;
}
.monitorType {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: $element-bg;
  color: $text-color;
  height: 150px;
  margin:  $spacer/2;
  border-radius: 5px;
  padding: $spacer;
  box-sizing: border-box;
  font-size: 12px;
  cursor: pointer;
  &[data-active=true] {
    background: $element-active-bg;
    color: $element-active-color;
  }
  svg {
    font-size: 5em;
    margin-bottom: $spacer/2;
  }
}
.progressBarNavigation {
  max-width: 80%;
  margin: $spacer auto;
  display: flex;
  box-sizing: border-box;
  border-radius: 100px;
  padding-top: $spacer;
  li {
    width: 100%;
    height: 10px;
    background: $grey;
    position: relative;
    margin: 0 2px;
    &[data-active=true] {
      background: $orange;
    }
    span {
      position: absolute;
      left: 0px;
      z-index: 9;
      top: -15px;
      font-size: 10px;
      width: 100%;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      height: 18px;
      color: $text-color;
    }
  }
}
.alertBloc {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  background: $grey;
  padding: $spacer;
  border-radius: 10px;
  margin-bottom: $spacer;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  & > div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    margin-bottom: $spacer;
    flex-wrap: wrap;
    padding-left: $spacer;
    &:first-child {
      padding-left: 0;
    }
  }
  h3 {
    margin-left: 5px;
    white-space: nowrap;
  }
  svg {
    font-size: 25px;
    color: $orange;
  }
  input, select {
    font-size: 15px;
    font-weight: 300;
    margin-left: $spacer;
    background: transparent;
  }
  select {
    width: auto;
    border: 1px solid $black;
    height: 30px;
    border-radius: 5px;
    padding: 0px 15px;
  }
}
.blocSeparator{
  display: block;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  &:before, &:after {
    width: 100px;
    margin: 0 auto;
    content: '';
    display: block;
    width: 1px;
    border-left: 1px dotted $darkGrey;
    height: 15px;
  }
  &:before { margin-bottom: 5px }
  &:after { margin-top: 5px }
}
.list_keyword_input {
  width: 100%;
  .list_keyword_input_info {
    font-size: 9px;
    font-weight: 300;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  input {
    margin-right: $spacer;
    width: 96%;
    max-width: 100%;
    margin-bottom: 5px;
  }
  .list_keywords_items {
    display: flex;
    font-size: 11px;
    font-weight: 300;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $orange;
      color: $white;
      padding: 5px 10px;
      border-radius: 100px;
      margin-right: 5px;
    }
    svg {
      font-size: 15px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
.alertiNavigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: $spacer auto;
  button {
    color: $white;
    background: $dark_grey;
    font-size: 14px;
    padding: ($spacer / 2) ($spacer * 2);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      background: $orange;
    }
  }
}
.checkbox {
  display: flex;
  align-items: center;
  margin-right: $spacer;
  margin-bottom: $spacer;
  width: 100px;
  cursor: pointer;
  p {
    padding: 0 5px;
    svg {
      color: $orange;
      fill: $orange
    }
    img {
      width: 25px;
    }
    span {
      display: block;
      font-size: 11px;
    }
  }
  & > span {
    width: 25px;
    min-width: 25px;
    height: 25px;
    border: 1px solid $black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      font-size: 18px;
    }
  }
}
.radio {
  display: flex;
  align-items: center;
  margin-right: $spacer;
  margin-bottom: $spacer;
  cursor: pointer;
  p {
    padding: 0 5px;
    svg {
      color: $orange;
      fill: $orange
    }
    img {
      width: 25px;
    }
    span {
      display: block;
      font-size: 14px;
      font-weight: 300;
    }
  }
  & > span {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $dark_grey;

    svg {
      font-size: 12px;
      color: $orange;
    }
  }
}
.rssFeedsInput {
  padding: $spacer;
  &>div{
    width: 100%;
    box-sizing: border-box;
    padding: $spacer;
    display: flex;
    align-items: center;
    input, select {
      width: 50%;
      border: none;
      border-bottom: 1px solid;
      border-radius: 0;
    }
    svg {
      margin: 0 5px;
      cursor: pointer;
    }
  }
  &>p{
    font-size: 9px;
    font-weight: 300;
  }
}