@import "./../../styles/base";
.folders {
  margin-top: $spacer;
  .folders_list {
    max-height: 200px;
    overflow: auto;
  }
  .title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      padding: 5px 10px;
      border-radius: 0px;
      width: 12px;
    }
    margin-bottom: $spacer;
  }
  .new_item {
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    margin-left: $spacer / 2;
    .new_item_error {
      color: $error-color;
      padding: $spacer/2;
    }
    h4 {
      text-align: center;
      background: $bg-1;
      color: $orange;
      padding: $spacer/2;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        width: 15px;
        cursor: pointer;
      }

    }
    input {
      max-width: 100%;
      border-bottom: 1px solid $grey;
      line-height: 30px;
      background: transparent;
      font-size: 11px;
      line-height: normal !important;
      padding-left: 5px;
      margin-right: 5px;
      height: 19px;
    }
    .btn {
      border-radius: 100px;
      padding: 2px 10px;
      svg {
        color: $bg-2;
        font-size: 11px;
      }
    }
  }

}