@import "./../../styles/base";
.navbar {
  display: flex;
  background: $bg-2;
  padding: $spacer*2 0;
  width: 64px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px){
    order: 3;
    flex-direction: row;
    width: 100%;
    padding: $spacer/2;
    box-sizing: border-box;
  }
  .navbar__logo {
    color: $active-color;
    font-size: 25px;
  }
  svg {
    color: $icon-color;
    transition: all 0.3s;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      color: $active-color;
    }
  }
  .navbar__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    svg {
      @media screen and (max-width: 425px){
        width: 15px;
      }
    }
    @media screen and (max-width: 768px){
      flex-direction: row;
    }
    &>svg {
      margin-top: $spacer*2.5;
      @media screen and (max-width: 768px){
        margin: 0 $spacer;
      }
      @media screen and (max-width: 425px){
        margin: 0 $spacer/2;
      }
    }
    .navbar__item__active {
      color: $active-color;
      font-size: 18px;
      background: $active-bg;
      padding: 15px;
      @media screen and (max-width: 425px){
        padding: 10px;
      }
    }
  }
  .navbar__user {
    color: $bg-2;
    background: $purple;
    padding: 10px;
    border-radius: 100px;
    font-size: 20px;
    border: 3px solid $bg-2;
    &:hover {
      color: $bg-2;
    }
  }
  .navbar__logout {
    background: $grey;
    padding: 10px;
    border-radius: 100px;
    font-size: 20px;
    border: 3px solid $bg-2;
    cursor: pointer;
    @media screen and (max-width: 425px){
      padding: 8px;
      svg {
        font-size: 15px;
      }
    }
    svg {
      color: $bg-2;
    }
  }
}
.left_navbar {
  background-color: $bg-1;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}