@import "./../../styles/base";
.feeds {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 $spacer;
  overflow: auto;
  @media screen and (max-width: 768px){
    order: 2;
  }
  .feed {
    width: 45%;
    margin: $spacer 0;
    background: $bg-1;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    @media screen and (max-width: 768px){
      width: 100%;
    }
    &[data-single=true] {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      .feed__items {
        height: auto;
      }
    }
    h4 {
      background: $blue ;
      padding: $spacer/2;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: $white;
    }
    .feed__items__cta {
      font-size: 12px;
      display: block;
      background: $bg-2;
      line-height: 30px;
      text-align: center;
      text-decoration: underline;
      color: $blue;
      font-weight: bold;
      cursor: pointer;
    }
    .feed__items__display {
      padding: $spacer;
      background: $bg-2;
      text-align: right;
      svg {
        color: $grey;
        margin-left: $spacer;
        cursor: pointer;
      }
    }
    .feed__items {
      overflow-y: auto;
      height: 325px;
      &[data-display="blocs"] {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .feed__item {
          width: 300px;
          margin: $spacer/2;
          flex-direction: column;
          .feed__item__fullcontent {
            display: block;
            width: 250px;
            font-size: 11px;
            padding: $spacer 5px;
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $grey;
          }
        }
      }
      .feed__item {
        margin: 2px 0;
        padding: $spacer / 2;
        background: $bg-2;
        color: $text-color;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s;
        & >svg:first-child {
            color: $blue;
            font-size: 20px;
            cursor: pointer;
            position: absolute;
            right: 5px;
            top: 8px;
        }
        .feed__item__fullcontent {
          display: none;
        }
        &:hover {
          background: $bg-1;
        }
        & > p {
          text-overflow: ellipsis;
          width: 83%;
          white-space: nowrap;
          overflow: hidden;
          padding-right: 5px;
          svg {
            color: $grey;
          }
          span {
            color: $grey;
            font-size: 12px;
            padding-right: 5px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        span {
          font-size: 9px;
          font-weight: bold;
          padding-right: 20px;
        }
      }

    }
  }
}

.following__new_item {
  background: $bg-2;
  border-radius: 5px;
  width: 100%;
  margin: $spacer auto;
  box-sizing: border-box;
  padding: $spacer;
  overflow: auto;
  .sources {
    display: flex;
    justify-content: space-between;
    .source_item {
      border-bottom: 1px solid $grey;
    }
  }
  .following__new_item__types {
    display: flex;
    justify-content: space-between;
    padding: 0 $spacer/2;
    width: 80%;
    div {
      display: flex;
      align-items: center;
      margin-bottom: $spacer;
      width: 40%;
      input {
        padding: 0;
        margin: 0;
      }
    }
  }
  .following__new_item_error {
    color: $error-color;
    padding: $spacer/2;
  }
  h4 {
    text-align: center;
    background: $bg-1;
    color: $orange;
    padding: $spacer/2;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      width: 15px;
      cursor: pointer;
    }

  }
  input, select {
    width: 80%;
    max-width: 100%;
    margin: $spacer auto;
    border-bottom: 1px solid $grey;
    line-height: 30px;
  }
  .following__new_item__btns {
    display: flex;
    justify-content: space-between;
    padding: $spacer/2;

  }
}
.following__new_item__popup{
  position: absolute;
  top: -300px;
  left: 5%;
  width: 90%;
  transition: all 0.3s;
  z-index: 99;
  &[data-show=true] {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(232 232 232 / 46%);
  }
}