@import "styles/variables";
.monitorTypes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $spacer;
  overflow: auto;
  height: 62vh;
}
.keywords {
  padding: $spacer;
}
.sources {
  padding: $spacer;
}
.alertStepsContainer {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  &[data-loading=true] {
    position: relative;
    .alertStepsSlider {
      opacity: 0.4;
    }
  }
}
.alertStepsSlider {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-y: auto;
  &>div {
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    &[data-active-step=false] {
      display: none;
    }
  }
}
.alertSuccess {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 600px;
  overflow-y: auto;
  text-align: center;
  justify-items: center;
  svg {
    margin: $spacer auto;
    font-size: 60px;
  }
}