@import "./../../styles/base";
.alerts {
  background-color: $bg-1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  justify-content: start;
  h1 {
    background-color: #6c1fd2;
    background: rgb(108,31,210);
    background: linear-gradient(
                    90deg
            , #6c1fd2 0%, #fa2355 50%, #ffca5f 100%);
    color: white;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: $spacer;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .alerts__list {
    height: 150px;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
    background: $bg-2;
    box-sizing: border-box;
    & > input {
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      font-size: 11px;
      padding: 5px;
    }
    svg {
      height: 100%;
    }
    .alerts__list__content {
      width: 100%;
      height: 100px;
      overflow: auto;
      & > div {
        width: 100%;
        max-width: 100%;
        font-size: 11px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px;
        margin: 2px 0;
        background: $grey;
        color: #fff;
        box-sizing: border-box;
        transition: all 0.3s;
        cursor: pointer;
        font-weight: bold;
        position: relative;
        &:hover, &[data-selected = true] {
          background: $btn-bg;
        }
      }
    }
  }
  .alerts__content__items {
    height: calc(100vh - 150px);
    width: 100%;
    max-width: 100%;
    overflow: auto;
    .alerts__content__items__shareIcon {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;
      width: auto;
      color: $blue;
    }
    svg {
      width: 100%;
    }
    & > div {
      padding: 10px;
      background: $bg-2;
      margin: 10px;
      border-radius: 5px;
      color: $text-color;
      cursor: pointer;
      position: relative;
      span {
        display: block;
        font-size: 10px;
      }
      span:first-child {
        font-weight: bold;
      }
      & > p {
        margin: 10px 0;
        font-size: 12px;
        line-height: 15px;
      }
      span:last-child {
        font-style: italic;
      }
    }
  }
}