@import "./styles/base";
.container {
  margin: $spacer;
  border-radius: 10px;
  background: $bg-2;
  box-shadow: 0px 0px 5px 0px $bg-1;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 40px);
  overflow: hidden;

  @media screen and (max-width: 768px){
    flex-direction: column;
  }
}