@import "./../../styles/base";
.following {
  display: flex;
  flex-direction: column;
  padding:$spacer;
  overflow: auto;
  color: $text-color;
  font-size: .85rem;
  svg {
    color: $icon-color;
  }
  .nav_link {
    display: flex;
    margin-bottom: $spacer;
    svg {
      padding-right: $spacer/2;
    }
  }
  @media screen and (max-width: 768px){
    order: 1;
    width: 100%;
    padding: $spacer/2 $spacer/2 0 $spacer/2;
    box-sizing: border-box;
  }
  .following__title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      padding: 5px 10px;
      border-radius: 0;
      width: 12px;
    }
    margin-bottom: $spacer;
  }
  .following__items {
    max-height: 200px;
    overflow: hidden;
    transition: all 0.3s;
    margin-left: $spacer/2;
    box-sizing: border-box;
    &[data-expand=true] {
      max-height: 300px;
      overflow: auto;
    }

    @media screen and (max-width: 768px){
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: $spacer/2;
      box-sizing: border-box;
      height: 180px;
    }
  }
  .show_more {
    margin-left: $spacer/2;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 11px;
  }
}
.following__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  position: relative;
  padding-left: 10px;
  & > svg {
    position: absolute;
    left: -5px;
    top: 10px;
    opacity: 0;
    transition: all 0.3s;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  &:hover > svg {
    opacity: 1;
  }
  @media screen and (max-width: 768px){
    border: none;
    padding: 0 $spacer/2;
    white-space: nowrap;
  }
  div:last-child {
    flex-grow: 2;
  }
  h5 {
    color: $text-color;
    text-overflow: ellipsis;
    width: 83%;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
    font-size: 11px;
  }
  .following__item__img {
    width: 15px;
    height: 20px;
    background: $bg-2;
    border-radius: 100px;
    align-items: center;
    justify-items: center;
    display: flex;
    margin-right: 10px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .following__item__subtitle {
    font-weight: 300;
  }
}